* {
  box-sizing: border-box;
}

body {
  margin: 0;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Rajdhani', sans-serif;
  background-color: #b8d3ee;
}

.container {
  border: 1px solid #aaa;
  padding: 2rem 3rem;
  border-radius: 7px;
  background-color: #eee;
  filter: drop-shadow(0 0 0.5rem #ccc);
}

.btn {
  background-color: #b8d3ee;
  padding: 10px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  width: 100%;
  margin-top: 20px;
}

h1 {
  margin: 0;
}
h3 {
  margin: 1rem 0 0 0;
  display: inline-block;
}

p {
  margin: 0 0 2rem 0;
  /* display: inline-block; */
}

.item {
  display: flex;
}

.desc {
  padding-left: 1rem;
}
